Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Assets/Characters/Emma/
Content/Assets/Characters/Emma/SKM_Emma.uasset

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace